* {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.button-container {
    position: absolute;
    top: 18rem;
    right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-left: 20px;
}

.stable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.bg-custom{
    background-color: rgba(2, 163, 75, 0.5) 
}

h1{
    text-align: center;
    color: #009879;
}

.page-link {
    color: #009879; 
}

.page-link:hover {
    color: #009879; 
}

.stable th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.stable th,
.stable td {
    padding: 12px 15px;
}

.stable tr {
    border-bottom: 1px solid #dddddd;
}

.stable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stable tr:last-of-type {
    border-bottom: 2px solid #009879;
}

div#add{
    position: relative;
    left: 85%;
}

.button1 {
  position: relative;
  left: 88%;
  background-color: #47a18f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2rem;
  transform: translate(-50%, -50%);
}

.button-36:hover {
  box-shadow: #009879 0 1px 30px;
  transition-duration: .1s;
}
